.contact-container {
    background-color: var(--clr-secondary);
    position: relative;
    color: var(--clr-default); 
    height: var(--sz-default); 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: var(--sz-margin-section-left);
    border-top-left-radius: var(--brd-radius); 
    border-bottom-left-radius: var(--brd-radius);
}


/* Tablet devices */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column; /* Stack items vertically */
        margin-left: 40px; /* Adjust left margin */
        padding: 20px; /* Add padding */
        transition: margin-left 1.5s; /* Smooth transition for margin */
    
    }
    .hamburger-visible + .content .contact-container {
        margin-left: 20px; /* Add space when hamburger is visible */
    }
    .menu.active ~ .content .contact-container {
        margin-left: 1%; /* Adjust margin when menu is open */
    }

}

/* Mobile devices */
@media (max-width: 480px) {
    .contact-container {
        padding: 10px; /* Reduce padding for mobile */
    }
    .hamburger-visible + .content .contact-container {
        margin-left: 20px; /* Add space when hamburger is visible */
    }
    .menu.active ~ .content .contact-container {
        margin-left: 1%; /* Adjust margin when menu is open */
    }

}