.contact-container {
    background-color: var(--clr-bg);
    position: relative;
    color: var(--clr-default); 
    height: var(--sz-default); 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-left: var(--sz-margin-section-left);
    padding: 20px; 
    border-top-left-radius: var(--brd-radius); 
    border-bottom-left-radius: var(--brd-radius);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 270px); 
    grid-template-rows: repeat(2, 68px);
    gap: 10px; 
    justify-content: center;
    margin: 20px;
}

.grid-item {
    width: 270px;
    height: 68px;
    background-color: var(--clr-bg); 
    color: var(--clr-default); 
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    border: 1px solid var(--clr-primary); 
    border-radius: 8px; 
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    animation: fadeInUp 1s ease forwards;
    animation-delay: calc(.2s * var(--i) + 2s);
}

/* .grid-item:hover {
    background-color: var(--clr-primary);
    border: 1px solid var(--clr-default);
} */
.media-icons {
    opacity: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    display: flex;
    border: 2px solid var(--clr-primary);
    border-radius: 50%;
    font-size: 20px;
    color: var(--clr-primary);
    text-decoration: none;
    margin-left: 15px;
    margin-top: 15px;
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    animation: fadeInUp 1s ease forwards;
    animation-delay: calc(.2s * var(--i) + 2s);
}
.media-icons:hover {
    opacity: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--clr-default);
    border-radius: 50%;
    font-size: 20px;
    color: var(--clr-default);
    text-decoration: none;
    margin-left: 15px;
  
   
}
.contact-icon {
margin-left: 8px;
margin-top: 7px;
}
.icon-text {
    margin-top: 0px;
    margin-left: 40px;
    
}
.arrow-right {
    margin-left: 20px;
    font-size: 1.8rem;
}
    /* Contact Form */
    .contact-form {
        position: fixed;
        height: 50%;
        right: -400px;
        width: 400px;
        background-color: var(--clr-bg);
        color: var(--clr-default);
        transition: right 0.3s ease;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .contact-form.open {
        right: 0; /* Slide in */
    }
    
    .form-content {
        position: relative;
    }
    
    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 16px;
        color: var(--clr-primary);
        font-weight: 800;
        cursor: pointer;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    label {
        margin-top: 10px;
    }
    
    input, textarea {
        padding: 10px;
        margin-top: 5px;
        border: 1px solid var(--clr-primary);
        border-radius: 8px;
        transition: border-color 0.3s;
    }
    input:focus, textarea:focus {
        border-color: var(--clr-primary);
    }
    .contact-btn {
        margin-left: 40px;
        margin-right: 40px;
    }
    .form-content h2,.form-content p {
        text-align: center;
    }
  
/* Tablet devices */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column; 
        margin-left: 40px; 
        padding: 20px; 
        transition: margin-left 1.5s; 
        
    
    }
    .hamburger-visible + .content .contact-container {
        margin-left: 20px; 
    }
    .menu.active ~ .content .contact-container {
        margin-left: 1%; 
    }

}

/* Mobile devices */
@media (max-width: 480px) {
    .contact-container {
        padding: 10px; 
    }
    .hamburger-visible + .content .contact-container {
        margin-left: 20px; 
    }
    .menu.active ~ .content .contact-container {
        margin-left: 1%; 
    }

}