.home-container {
    background-color: var(--clr-secondary);
    position: relative;
    color: var(--clr-default); 
    height: var(--sz-default); 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: var(--sz-margin-section-left);
    border-top-left-radius: var(--brd-radius); 
    border-bottom-left-radius: var(--brd-radius);
}
.profile-image {
    width: 350px;
    height:  350px;
    margin-right: var(--sz-margin-section-left);
    margin-left: 30px;
}

.logo {
    width: 130px;
    height: 100px;
    margin-top: -100px;
    padding-top: -10px;
    padding-bottom: 20px;
}

/* Tablet devices */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        transition: margin-left 1.5s; /* Smooth transition for margin */
    }
    .hamburger-visible + .content .home-container {
        margin-left: 20px; /* Add space when hamburger is visible */
    }
    .menu.active ~ .content .home-container {
        margin-left: 1%; /* Adjust margin when menu is open */
    }

    .profile-image {
        width: 250px; 
        height: 250px; 
        margin: 20px 0;
    }

    .logo {
        width: 100px;
        height: auto;
        margin-top: -180px; /
    }
}

/* Mobile devices */
@media (max-width: 480px) {
    .hamburger-visible + .content .home-container {
        margin-left: 20px; /* Add space when hamburger is visible */
    }
    .menu.active ~ .content .home-container {
        margin-left: 1%; /* Adjust margin when menu is open */
    }
    .home-container {
        padding: 10px; /* Reduce padding for mobile */
        
    }
    .profile-image {
        width: 200px; 
        height: 200px; 
        margin: 10px 0; 
    }

    .logo {
        width: 80px; 
        height: auto; 
        margin-top: -180px;
    }
}