.home-container {
    background-color: var(--clr-bg);
    position: relative;
    color: var(--clr-default); 
    height: var(--sz-default); 
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
    margin-left: var(--sz-margin-section-left);
    border-top-left-radius: var(--brd-radius); 
    border-bottom-left-radius: var(--brd-radius);
}
.home-content {
    max-width: 600px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.5s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content h3 span {
    color: var(--clr-primary);
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.7s;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.8s;
}

.home-img img {
    max-width: 450px;
    animation: fadeIn 1s ease forwards, zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1.9s, 3s;
}

.social-media {
    display: flex;
    margin-top: 20px;
}

.social-media a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid var(--clr-primary);
    border-radius: 50%;
    font-size: 20px;
    color: var(--clr-primary);
    text-decoration: none;
    margin-right: 15px;
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    animation: fadeInUp 1s ease forwards;
    animation-delay: calc(.2s * var(--i) + 2s);
}

.social-media a:hover {
    background: var(--clr-primary);
    color: var(--clr-default);
    box-shadow: 0 0 20px var(--clr-primary);
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--clr-secondary);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--clr-primary);
    font-size: 16px;
    color: var(--clr-primary);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 2.5s;
}
.btn:hover {
    background: var(--clr-default);
    box-shadow: 0 0 10px var(--clr-primary);
    color: var(--clr-primary);
}
.home-content, .home-content h3, .home-content h1, .home-content p, .profile-image, .social-media a, .btn {
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes floatImage{
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-24px);
	}
	100% {
		transform: translateY(0);
	}
}
.profile-image {
    width: 350px;
    height:  350px;
    margin-right: var(--sz-margin-section-left);
    margin-left: 30px;
    animation: fadeIn 1s ease forwards, zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1.9s, 3s;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 50px;
    padding-top: -10px;
    padding-bottom: 20px;
}



/* Tablet devices */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        transition: margin-left 1.5s; /* Smooth transition for margin */
    }
    .hamburger-visible + .content .home-container {
        margin-left: 20px; /* Add space when hamburger is visible */
    }
    .menu.active ~ .content .home-container {
        margin-left: 1%; /* Adjust margin when menu is open */
    }

    .profile-image {
        width: 250px; 
        height: 250px; 
        margin: 20px 0;
    }

    .logo {
        width: 100px;
        height: auto;
        margin-top: 100px;
        padding-right: 30%;
        
    }
}

/* Mobile devices */
@media (max-width: 480px) {
    .hamburger-visible + .content .home-container {
        margin-left: 20px; 
    }
    .menu.active ~ .content .home-container {
        margin-left: 1%; 
    }
    .home-container {
        padding: 10px; /* Reduce padding for mobile */
        
    }
    .profile-image {
        width: 150px; 
        height: 150px; 
        margin: 10px 0; 
    }
    .home-container h3{
        font-size: 18px;
    }
    .home-container h1{
        font-size: 20px;
    }
    .home-container p{
        font-size: 14px;
    }

    .logo {
        width: 80px; 
        height: auto; 
        margin-top: 100px;
    }
}