.project-container {
    background-color: var(--clr-bg);
    position: relative;
    color: var(--clr-default); 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    margin-left: var(--sz-margin-section-left);
    border-top-left-radius: var(--brd-radius); 
    border-bottom-left-radius: var(--brd-radius);
}

.filter-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid var(--clr-primary);
    border-radius: var(--brd-radius);
    margin-bottom: 20px; 
    list-style: none; 
    padding: 5px 0px 5px 0px; 
    margin: 0px 70px 0px 65%;
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    animation: fadeInUp 1s ease forwards;
    animation-delay: calc(.2s * var(--i) + 2s);
}

.filter-item {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    border: 1px solid var(--clr-primary);
    border-radius: var(--brd-radius);
    transition: background-color 0.3s, color 0.3s;
}

.filter-item:hover {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
}

.filter-item.active {
    background-color: var(--clr-primary);
    color: var(--clr-default);
}

.portfolio-items-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    display: none; 
    flex-direction: column;
    align-items: center;
    margin: 10px;
    transition: transform 0.3s;
    flex: 1 1 calc(30% - 190px);
    max-width: calc(30% - 190px); 
}

.portfolio-item.active {
    display: flex; 
    transform: scale(1.05);
}

.item-img {
    width: 200px; 
    height: auto;
    border-radius: var(--brd-radius);
}

.section-heading {
    align-self: flex-start; 
    margin-bottom: 10px; 
    border-bottom: 2px solid var(--clr-primary); 
    padding: 20px 85% 10px 20px;
}

.section-sub-heading {
    align-self: flex-end; 
    padding-right: 80px;
    margin-bottom: 10px;
}

.project-btn {
    margin-left: 42%;
    margin-right: auto;
    margin-top: 30px;
    
}

/* Tablet devices */
@media (max-width: 768px) {
    .project-container {
        flex-direction: column; /* Stack items vertically */
        margin-left: 40px; /* Adjust left margin */
        padding: 20px; /* Add padding */
        transition: margin-left 1.5s; /* Smooth transition for margin */
    
    }
    .hamburger-visible + .content .project-container {
        margin-left: 20px; /* Add space when hamburger is visible */
    }
    .menu.active ~ .content .project-container {
        margin-left: 1%; /* Adjust margin when menu is open */
    }

    .filter-box {
        align-items: center;
        margin:  0 auto;
    }

     .portfolio-items-group {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
        gap: 10px; 
        padding: 5px;
    }
    
    .portfolio-item {
        display: none;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        transition: transform 0.3s;
        flex: 1 1 calc(100% - 10px);
        max-width: calc(100% - 10px); 
    }
    
    .portfolio-item.active {
        display: flex; 
        transform: scale(1.0);
    }
    
    .item-img {
        width: 200px; 
        height: auto;
        border-radius: var(--brd-radius);
    }
    .item-name{
        font-size: 18px;
        text-align: center;
    }
    .item-category {
        font-size: 18px;
    }

    .project-btn {
        margin: 0 auto;
    }

}

/* Mobile devices */
@media (max-width: 480px) {
    
.portfolio-items-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 5px; 
    padding: 2px;
}

.portfolio-item {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    transition: transform 0.3s;
    flex: 1 1 calc(100% - 30px);
    max-width: calc(100% - 30px); 
}

.portfolio-item.active {
    display: flex; 
    transform: scale(1.0);
}

.item-img {
    width: 80px; 
    height: auto;
    border-radius: var(--brd-radius);
}
.item-name{
    font-size: 10px;
    text-align: center;
}
.item-category {
    font-size: 10px;
}
    .hamburger-visible + .content .project-container {
        margin-left: 20px; /* Add space when hamburger is visible */
    }
    .menu.active ~ .content .project-container {
        margin-left: 1%; /* Adjust margin when menu is open */
    }
    .filter-box {
        align-items: center;
        margin:  0 auto;
    }
    .filter-item {
        margin: 0 5px;
        padding: 5px 5px 5px 5px;
    }
    .project-container {
        background-color: var(--clr-bg);
        position: relative;
        color: var(--clr-default);
        display: flex;
        flex-direction: column;
        border-top-left-radius: var(--brd-radius);
        border-bottom-left-radius: var(--brd-radius);
    }
  
   
    
    .section-heading, .section-sub-heading {
        align-self: flex-start;
        margin-bottom: 10px;
        padding: 10px; /* Adjust padding */
        width: 100%; /* Full width */
    }
    
    .project-btn {
        margin: 20px auto; /* Center button with auto margins */
    }
    
}