.project-container {
    background-color: var(--clr-bg);
    position: relative;
    color: var(--clr-default); 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    margin-left: var(--sz-margin-section-left);
    border-top-left-radius: var(--brd-radius); 
    border-bottom-left-radius: var(--brd-radius);
}

/* Project Filter Starts Here */
.main-content > div {
    width: 90%;
    margin: 0 auto;
}
.main-content {
    display: flex;
    justify-content: center;
    text-align: center;
}
.uk-navbar-nav {
    justify-content: center;
    gap: 10px !important;
    margin-bottom: 5px;
}
.uk-navbar-nav > li {
    padding: 15px 0 0 0;
    min-width: 60px;
    
}
.uk-navbar-nav>li>a {
    padding: 15px 35px;
    display: block;
    background-color: var(--clr-default);
    color: var(--clr-contact-bg);
    font-size: 15px;
    min-height: 40px !important;
    font-weight: 600;
    box-shadow: 0 0 25px #cccccc42;
    border-radius: 7px;
    transition: 0.5s all ease-in-out;
}
.uk-navbar-nav>li>a:hover, .uk-navbar-nav>li.uk-active>a {
    background-color: var(--clr-primary);
    color: var(--clr-default);
}
.img-gallery-container > li {
    position: relative;
    padding: 5px;
    margin-top: 5px !important;
}
.img-gal {
    height: 180px;
    width: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
    border-radius: var(--brd-radius-primary);
}
.img-gallery-container > li:hover > img {
    filter: brightness(0.4) blur(3px);
}
.float-gallery-content {
    position: absolute;
    width: 90%;
    z-index: -1;
    background: var(--clr-default);
    padding: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--brd-radius-primary);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease-in-out;
    overflow: hidden;
}
.img-gallery-container > li:hover .float-gallery-content {
    bottom: 20px;
    opacity: 1;
    visibility: visible;
    z-index: 9;
}
.uk-block {
    display: block;
}
.float-gallery-content .content {
    padding: 4px 5px;
}
.float-gallery-content .content > a {
    color: var(--clr-contact-bg);
    position: relative;
    bottom: -50px;
    opacity: 0;
    transition: all 0.5s;
}
.float-gallery-content .content > a:hover {
    color: var(--clr-primary);
}
button {
    border: 0;
    height: 100%;
    padding: 5px 15px;
    background: var(--clr-primary);
    font-size: 30px;
    color: var(--clr-default);
    position: relative;
    right: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.highlight {
    color:var(--clr-primary);
    font-weight: 600;
    position: relative;
    left: -100px;
    opacity: 0;
    transition: all 0.5s;
}
.img-gallery-container > li:hover .highlight {
    left: 0;
    opacity: 1;
    transition-delay: 0.1s;
}
.img-gallery-container > li:hover button {
    right: 0;
    opacity: 1;
    transition-delay: 0.1s;
}
.img-gallery-container > li:hover .content > a {
    bottom: 0;
    opacity: 1;
    transition-delay: 0.1s;
}
/* Filter Ends Here */
.project-btn {
    margin: 20px auto;
}

/* Tablet devices */
@media (max-width: 768px) {
    .project-container {
        flex-direction: column; /* Stack items vertically */
        margin-left: 40px; /* Adjust left margin */
        padding: 20px; /* Add padding */
        transition: margin-left 1.5s; /* Smooth transition for margin */
    
    }
    .hamburger-visible + .content .project-container {
        margin-left: 20px; /* Add space when hamburger is visible */
    }
    .menu.active ~ .content .project-container {
        margin-left: 1%; /* Adjust margin when menu is open */
    }

    
    .project-btn {
        margin: 0 auto;
    }

}

/* Mobile devices */
@media (max-width: 480px) {

    .hamburger-visible + .content .project-container {
        margin-left: 20px; /* Add space when hamburger is visible */
    }
    .menu.active ~ .content .project-container {
        margin-left: 1%; /* Adjust margin when menu is open */
    }
    .filter-box {
        align-items: center;
        margin:  0 auto;
    }
    .filter-item {
        margin: 0 5px;
        padding: 5px 5px 5px 5px;
    }
    .project-container {
        background-color: var(--clr-bg);
        position: relative;
        color: var(--clr-default);
        display: flex;
        flex-direction: column;
        border-top-left-radius: var(--brd-radius);
        border-bottom-left-radius: var(--brd-radius);
    }
    .project-btn {
        margin: 20px auto; /* Center button with auto margins */
    }
    
}